body {
  color: #ECDFCC;
  background: #181C14;
}
header {
  border: 2px solid #3C3D37;
  border-radius: 10px;
  background-color: #3C3D37;
  text-align: center;
}
a {
  color: #ECDFCC;
  text-decoration: none;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
}
#nav {
text-align: left;
padding: 10px;
}