h1 {
  text-align: center;
  font-size: 1.5em;
  color: greenyellow;
}
body {
  background-color: black;
}
#container {
  width: 100%;
  height: 100%;
  border: 2px solid greenyellow;
  display: flex;
}
#gr1 {
  margin: 5%;
  height: 40px;
  width: 40%;
  border: 2px solid red;
}
#gr2 {
  margin: 5%;
  height: 40px;
  width: 40%;
  border: 2px solid blue;
}