h1 {
  text-align: center;
  font-size: 3.5em;
}

#fruits {
text-align: center;
margin: 20px;
/* The syntax of the first radius allows one to four values */
/* Radius is set for all 4 sides */
border: 2px solid blue;
border-radius: 10px;
width: 200px;
padding: 5px;
height: 60px;
}

#vegetables {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid green;
  width: 200px;
  padding: 5px;
  height: 60px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

#meats {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  height: 60px;
  border: 2px solid red;
}

.container {
 display: flex;
 justify-content: center;
 }